<main>
  <div class="notice">
    <p id="notice">
      <%=  notice %> 
    </p>
  </div>
        <div class="show-texts">
          <p class="p-show1">
              <span>Title:</span><%= @book.title %>
          </p>
          <p class="p-show1">
              <span>Body:</span><%= @book.body %>
          </p>
        </div>
        <div class="show-links" clearfix>
          <p class="p-show2"><%= link_to 'Edit',edit_book_path(@book.id) %></p>
          <p class="p-show2">|</p>
          <p class="p-show2"><%= link_to 'Back',books_path %></p>
        </div>
</main>